
@font-face {
    font-family: 'Source Sans Pro Light';
    src:  url('http://hb.bizmrg.com/fonts/sourcesanspro/300.woff2') format('woff2'), url('http://hb.bizmrg.com/fonts/sourcesanspro/300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro Bold';
    src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url('http://hb.bizmrg.com/fonts/sourcesanspro/700.woff2') format('woff2'), url('http://hb.bizmrg.com/fonts/sourcesanspro/700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}