.navigation{
    max-width: 1170px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #03a8cb;
    margin: auto;  
}
.menu{
    min-height: 80px;
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    justify-content: center;
}
.show-menu, .check-menu{
    display:none;
    font-size: 16px;
    color:white;
    padding: 10px 0;
}
.menu__button{
    display: flex; 
    align-self: stretch; 
    padding-left: 21px;
    padding-right: 21px;     
    border-left: 1px solid #4fc2db;
    border-right: 1px solid #4fc2db;
}
.button__text{
    text-decoration: none;
    text-transform: uppercase;  
    color: white; 
    font-family: 'Source Sans Pro Bold';
}
.button__text-menu{
    margin: auto;
    letter-spacing: 1.8px;
    font-size: 14px;
}
.menu__button:hover{
    text-decoration: underline;
}
.button{
    background-color: #03a8cb;
    border: none;
    text-decoration: none;
    outline: none;
    margin: auto;
    color: white;
    background-color: #03a8cb;
}
.button:hover{
    background-color:#3b3e4a;
}
@media screen and (max-width: 768px){
    .menu__button{
        padding-left: 10px;
        padding-right: 10px;
        border: none;
    }
}
@media screen and (max-width: 600px){
    .menu{
        display: none;
    }
    .show-menu{
        display: block;
    }
    .check-menu:checked ~ .menu{
        display: block;
        background-color: white;
        margin-bottom: 5px;
    }
    .check-menu:checked ~ .menu .button__text-menu{
        color:  #03a8cb;
        padding: 5px 0;
        border-bottom: 1px solid #03a8cb;
    }

}



  