.section{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	max-width: 1170px;
	margin: auto;
	text-align: left;
	padding-bottom: 10px;
	padding-top: 30px;
}
.section-container{
	max-width: 570px;
}
.section__title-main{
	font-size: 28px;
}
.section__title-add-text{
	font-size: 18px;
	margin-bottom: 40px;
}
.section-with-icons-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
.section-with-icons__content{
	width: 270px;
	margin-bottom: 30px;
}
.section-with-icons__icon{
	border-radius: 5px;
	background-color: #3b3e4a;
	width: 70px;
  	height: 70px;
  	float:left;
  	color: white;
  	font-size: 26px;
  	margin-right: 32px;
	z-index: 1;
	display: flex;
}
.section-with-icons__icon:hover{
	background-color: #03a8cb;
}
.section-with-icons__title{
	display: inline-block;
	position: relative;
	bottom: 4px;
	font-size: 16px;
  	font-family: "Source Sans Pro Bold";
  	font-weight: bold;
  	text-transform: uppercase;
  	line-height: 1.2;
  	text-align: left;
  	color: #03a8cb;
  	letter-spacing: 0.7px;
}
.section-with-icons__title:hover{
	text-decoration: underline;
}

.section-with-icons__text{
	position: relative;
	top: 5px;
}

@media screen and (max-width: 1250px){
    .section{
		padding-right: 15px;
        padding-left: 15px;
		justify-content: space-around;
	}
	.section-containers{
		margin-bottom: 20px;
		padding-bottom: 0;
	}
}	
@media screen and (max-width: 556px){
	.section-with-icons__container{
		justify-content: space-around;
	}
}	






  
 
  

